
 <% include ./partials/header.ejs %>
      <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to <%= title %></h1>
            <p></p>
            <!--
           <% if(title == "Contact") {%>
           <a class="btn btn-primary" href="/contact-list" role="button">Customer List</a><br><br>
           <h5>Only admin can access our database and see all record after click button and <br><br>
              and sign in with admin credentials....<br><br>
              username: admin<br>
              password:123456
              
              </h5>
             
            <br><br>
           <% } %>
            -->
            <p></p>
            <br><br>
           <h4>Please Register If you are a new customer or <br><br>
           Log in if you are existing customer<br><br>
           For admin credentials please use following username and password<br><br>
           username: admin<br>
           password:123456
           <h4>
          </div>
      </div>

  <% include ./partials/footer.ejs %>

